<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Can the Computer Recognize Your Emotion??</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <!-- emply col to move over text -->
          <div class="col-md-1"></div>
          <div class="col-md-1"></div>
          <div class="col-md-1"></div>
          <a class="navbar-brand" href="index.html" style="color: orangered; ">
            <span class="nav-color"><b>Can the Computer Recognize Your Emotion??</b></span>
          </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="about.html">About</a></li>
            <li><a href="http://neuron.arts.ryerson.ca/ravdess/?f=3, http://kahlan.eps.surrey.ac.uk/savee/Download.html" target="_blank">Data</a></li>
            <li><a href="license.html">License</a></li>
          </ul>    
        </div>        
      </div>
    </nav>
  </head>
  <body>
    <div class="outer-border"> 
      <div class="scroll">
         ENTER YOUR CONTENT HERE 
      </div>
    </div>
  </body>
  <footer>
    <div class="w3-container">
      <p> &copy; Copyright UofM Data Bootcamp 2020 <br> &copy; Copyright 2018 Mitesh Puthran - MIT License <br>
      Parselmouth is released under the GNU General Public License, version 3 or later. See the <a hre = "https://github.com/YannickJadoul/Parselmouth/blob/master/LICENSE" style="color: rgb(4, 0, 255)">LICENSE</a> file for details. <br>
      <a style="color: red; font-size: small;">This website records your voice.</a></p>
    </div>
  </footer>
</html>