<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Can the Computer Recognize Your Emotion</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 

    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/css/style.css">
    
</head>
<body style="background-color: rgb(239, 241, 243)">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- emply col to move over text -->
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <a class="navbar-brand" href="../index.html" style="color: orangered;  ">
          <span class="nav-color">Can the Computer Recognize Your Emotion??</span>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
      <li><a href="about.html">About</a></li>
      <li><a href="http://neuron.arts.ryerson.ca/ravdess/?f=3, http://kahlan.eps.surrey.ac.uk/savee/Download.html" target="_blank">Data</a></li>
      <li><a href="templates/license.html">License</a></li>
      </ul>    
    </div>        
    </div>
    </nav>

  <div class="row">
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-12">
      <h4 style="color: rgb(4, 0, 255)">License</h4> 
    </div>
  </div>
  <div class="row">
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-9">
  <ul>
    <li>
  Parselmouth is released under the GNU General Public License, version 3 or later. See the <a hre = "https://github.com/YannickJadoul/Parselmouth/blob/master/LICENSE">LICENSE</a> file for details.</li>
      <li>MIT License &nbsp; &copy; Copyright (c) 2018 Mitesh Puthran</li>
</ul>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<hr>
<div class="row">
<div class="col-md-6">
<p>
&copy; <i style="color: rgb(4, 0, 255)">Copyright UofM Data Bootcamp 2020</i>
</p>
</div>

</body>
</html>